In [ ]:
import pandas as pd
df = pd.read_csv('spotify_data clean.csv')
# print(df.to_string())
print(pd.options.display.max_rows)

# print("displying the first 5 rows of csv dataset:")
# print(df.head(5))
# print("displying the last 5 rows of csv dataset:")
# print(df.tail(5))

print(df.info())

In [ ]:
import pandas as pd

data = {
    'name' : ['adarsh', 'abhinav', 'raushan', 'shreya'],
    'age' : [20,23,24,21],
    'city' : ['delhi', 'kashi', 'Noida', 'kolkata'],
    'Skills' : ['ML/Full-stack', 'AI/ML', 'backend/IOT', 'BlockChain']
}

New_Data = pd.DataFrame(data)
print(New_Data)

# # New_Data.to_csv('newCSV_01.csv', index=False)
# print(New_Data.describe())

print(New_Data)
print(f"Shape is : {New_Data.shape}")
print(f"col names is : {New_Data.columns}")

In [18]:
import pandas as pd

data = {
    'name' : ['adarsh', 'abhinav', 'raushan', 'shreya'],
    'age' : [20,23,24,21],
    'city' : ['delhi', 'kashi', 'Noida', 'kolkata'],
    'Skills' : ['ML/Full-stack', 'AI/ML', 'backend/IOT', 'BlockChain'],
}

New_data = pd.DataFrame(data)

print("Lets find the column wise data: ")
col = New_Data[['name', 'city', 'age']]
print(col)

Lets find the column wise data:
      name     city  age
0   adarsh    delhi   20
1  abhinav    kashi   23
2  raushan    Noida   24
3   shreya  kolkata   21

In [20]:
# rows wise

import pandas as pd

data = {
    'name' : ['adarsh', 'abhinav', 'raushan', 'shreya'],
    'age' : [20,23,24,21],
    'city' : ['delhi', 'kashi', 'Noida', 'kolkata'],
    'Skills' : ['ML/Full-stack', 'AI/ML', 'backend/IOT', 'BlockChain'],
}

New_data = pd.DataFrame(data)
salary_wise = New_Data[New_Data['age'] > 22]
print(salary_wise)
New_Data.rename(columns={'age' : 'Age'})

      name  age   city       Skills
1  abhinav   23  kashi        AI/ML
2  raushan   24  Noida  backend/IOT

      name  Age     city         Skills
0   adarsh   20    delhi  ML/Full-stack
1  abhinav   23    kashi          AI/ML
2  raushan   24    Noida    backend/IOT
3   shreya   21  kolkata     BlockChain